name: test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          gleam-version: "1.14.0"
          rebar3-version: "3"
      - run: gleam deps download
      - name: gleam test
        run: gleam test
        env:
          GFTP_INTEGRATION_TESTS: 1
      - run: gleam format --check src test
